body {
  margin: auto;
  max-width: 980px;
  font-family: sans-serif;
}
.text {
  line-height: 20px;
  font-family: sans-serif;
  font-size: 15px;
  color: #676664;
}
#header {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid #cfccd0;
}
#headline {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  padding-bottom: 60px;
}
nav {
 text-align: center;
 font-size: 15px;
}
.navigation {
  list-style-type: none;
  display: inline;
  padding-right: 30px;
}
.link {
    text-decoration: none;
    color: #cfccd0;
}
.current {
    color: black;
    text-decoration: none;
}
.current:hover {
	color: #676664;
}
.link:hover {
	color:  #676664;
}
a:hover {
  color: #cfccd0; 
  text-decoration: none;
}
.tableContainer {
  display: table;
  margin-top: 60px;
}
.tableRow {
  display: table-row;
}
#quote {
    float: left;
}
aside {
  float: right;
}
#sub-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
#kudo {
  font-style: italic;
  width: 370px;
}
#name {
  color: black;
  padding-top: 15px;
  font-weight: bold;
}
#email {
  border: 2px solid #cfccd0;
  width: 185px;
  height: 20px;
}
#subscribe {
  border: none;
  background-color: #cfccd0; 
}
#content {
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  width: 860px; 

}
footer {
  border-top: 2px solid #cfccd0;
  margin-bottom: 60px;
}
#footer-text {
  text-align: center;
  line-height: 20px;
  font-family: sans-serif;
  font-size: 12px;
  color: #676664;
  padding-top: 30px;
}
